@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

@layer base {
  :root {
    --background: 216, 28%, 7%;
    --foreground: 210 12% 16%;
    --card: 216, 28%, 7%;
    --card-foreground: 210 12% 16%;
    --popover: 216, 28%, 7%;
    --popover-foreground: 210 12% 16%;
    --primary: 130, 56%, 36%;
    --primary-foreground: 216, 28%, 7%;
    --secondary: 210 25% 96%;
    --secondary-foreground: 215 14% 34%;
    --muted: 210 25% 96%;
    --muted-foreground: 215 14% 45%;
    --accent: 210 25% 96%;
    --accent-foreground: 215 14% 34%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 216, 28%, 7%;
    --border: 210 18% 87%;
    --input: 210 18% 87%;
    --ring: 130, 56%, 36%;
    --chart-1: 130, 56%, 36%;
    --chart-2: 161 97% 37%;
    --chart-3: 25 95% 47%;
    --chart-4: 280 87% 65%;
    --chart-5: 315 95% 47%;
    --radius: 0.375rem;
    --sidebar-background: 210 25% 98%;
    --sidebar-foreground: 215 14% 34%;
    --sidebar-primary: 130, 56%, 36%;
    --sidebar-primary-foreground: 216, 28%, 7%;
    --sidebar-accent: 210 25% 96%;
    --sidebar-accent-foreground: 215 14% 34%;
    --sidebar-border: 210 18% 87%;
    --sidebar-ring: 130, 56%, 36%;
  }

  .dark {
    --background: #010409;
    --foreground: 210 18% 87%;
    --card: #0d1117;
    --card-foreground: 210 18% 87%;
    --popover: 215 14% 10%;
    --popover-foreground: 210 18% 87%;
    --primary: 130, 56%, 36%;
    --primary-foreground: 0, 0%, 100%;
    --secondary: 215 14% 17%;
    --secondary-foreground: 210 18% 87%;
    --muted: 215 14% 17%;
    --muted-foreground: 215 14% 65%;
    --accent: 215 14% 17%;
    --accent-foreground: 210 18% 87%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0, 0%, 100%;
    --border: 215 14% 17%;
    --input: 215 14% 17%;
    --ring: 130, 56%, 36%;
    --chart-1: 130, 56%, 36%;
    --chart-2: 161 97% 37%;
    --chart-3: 25 95% 47%;
    --chart-4: 280 87% 65%;
    --chart-5: 315 95% 47%;
    --sidebar-background: 215 14% 13%;
    --sidebar-foreground: 210 18% 87%;
    --sidebar-primary: 130, 56%, 36%;
    --sidebar-primary-foreground: 216, 28%, 7%;
    --sidebar-accent: 215 14% 17%;
    --sidebar-accent-foreground: 210 18% 87%;
    --sidebar-border: 215 14% 17%;
    --sidebar-ring: 130, 56%, 36%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
